
@model List<ToDoList.Model.Models.ToDo>


@foreach (var item in Model)
{
    string descRip = @item.Description;
<div class="myTable">

    <div class="deleteBox">
        <a href="~/Home/RemoveTask?id=@item.ToDoId" style="color:red"><strong>X</strong></a>
    </div>
    <div class="textLine">

        <div class="textLineBox1">@item.Title</div>

        @if (item.IsCompleted)
        {

            <div class="textLineBox2">Completed</div>

        }
        else
        {

            <div class="textLineBox2">In progress</div>
        }


        <div class="textLineBox3" onclick="btnDescription('@item.ToDoId','@item.Description');">...</div>
        <div class="textLineBox4">@item.CreatedBy</div>
    </div>

    <div class="dateLine">
        <div class="date1">Created on: @item.CreatedOn.Date</div>
        <div class="date2">Modified on: @item.ModifiedOn.Date</div>
    </div>



    @if (descRip.Length > 30)
    {

        <p id="@item.ToDoId">
            @descRip.Substring(0, 30)
        </p>
    }

    @if (item.IsCompleted)
    {
        <div class="btnDiv">
            <a class="btn btn-info">Edit</a>
            <a class="btn btn-warning" style="color:white;">Finish</a>
            <a class="btn btn-info" style="color:white;">Assign</a>
        </div>
    }
    else
    {
        <div class="btnDiv">
            <a href="~/Home/EditTask?id=@item.ToDoId" class="btn btn-info">Edit</a>
            <a href="~/Home/EditStatus?id=@item.ToDoId" class="btn btn-warning" style="color:white;">Finish</a>
            <a href="~/Home/Assign?id=@item.ToDoId" class="btn btn-info" style="color:white;">Assign</a>
        </div>
    }

</div>
}


<style>
    .myTable {
        text-align: left;
        -webkit-box-shadow: 0 5px 0px #888888;
        -moz-box-shadow: 0 5px 0px #888888;
        box-shadow: 0 5px 5px #888888;
        height:auto;
        margin-top:5%;
    }

    .textLine {
        display: inline-block;
        width: 100%;
        margin-left: 5%;
    }

            .textLineBox1 {
                display: inline-block;
                padding-top:0;
                width: 30%;
                font-size: 30px;
            }

    .textLineBox2 {
        display: inline-block;
        padding-top: 0;
        margin-left: 10%;
        width: 20%;
        font-size: 12px;
    }

    .textLineBox3 {
        display: inline-block;
        padding-top: 0;
        padding-bottom:5px;
        margin-left:10%;
        width: auto;
        font-size: 50px;
        color: #0db2f2;
    }

    .textLineBox4 {
        display: inline-block;
        padding:5px;
        width: auto;
        border-radius: 50%;
        font-size: 30px;
        color: white;
        background-color: #0db2f2;
        text-align: center;
    }


        .dateLine {
            display: block;
            width: 100%;
            margin-left:5%;
        }

            .date1 {
                display: inline-block;
                width: 40%;
                font-size: 12px;
            }

            .date2 {
                display: inline-block;
                margin-left: 5%;
                width: 40%;
                font-size: 12px;
            }

    .moreTextBox {
        display: block;
        height: auto;
        width: 100%;
        font-size: 14px;
        color: gray;
        margin-left: 5%;
        padding-left:5%;
    }

    .deleteBox {
     display:none;
     text-align:right;
     padding-right:0px;
    }

    .btnDiv
    {
        display:none;
        margin-bottom:3%;
    }
    .btnDiv a {
        margin-left: 20%;
    }

</style>
