
@model List<ToDoList.Model.Models.ToDo>


@*@foreach (var item in Model)
{
    string descRip = @item.Description;
<div class="myTable">

    <div class="textLine">

        <div class="textLineBox1">@item.Title</div>

        @if (item.IsCompleted)
        {

            <div class="textLineBox2">Completed</div>

        }
        else
        {

            <div class="textLineBox2">In progress</div>
        }


        <div class="textLineBox3" onclick="btnDescription('@item.ToDoId','@item.Description');">...</div>
        <div class="textLineBox4">@item.CreatedBy</div>
    </div>

    <div class="dateLine">
        <div class="date1">Created on: @item.CreatedOn.Date</div>
        <div class="date2">Modified on: @item.ModifiedOn.Date</div>
    </div>
    <div class="moreTextBox">
        @if (descRip.Length > 30)
        {
            <p id="@item.ToDoId">
                @descRip.Substring(0, 30)
            </p>
        }
    </div>

</div>
}*@




@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Created by</th>
                <th scope="col">Created on</th>
                <th scope="col">Modified on</th>
            </tr>
        </thead>




        <tbody>
            @foreach (var item in Model)
            {
                string descRip = @item.Description;
                <tr>
                    <td>@item.Title</td>

                    <td>
                        @if (descRip.Length > 30)
                        {
                            <p id="@item.ToDoId">
                                @descRip.Substring(0, 30)
                            </p>
                            <button id="@item.ToDoId" onmouseover="change('@item.ToDoId')" onmouseout="changeTo('@item.ToDoId')" onclick="btnDescription('@item.ToDoId','@item.Description');">...</button>

                        }
                    </td>
                    @if (item.IsCompleted)
                    {
                        <td>Completed</td>
                    }
                    else
                    {
                        <td>In progress</td>
                    }
                    <td>@item.CreatedBy</td>
                    <td>@item.CreatedOn.Date</td>
                    <td>@item.ModifiedOn</td>



                </tr>
            }
        </tbody>
    </table>

}

@*<style>
    .myTable {
        text-align: left;
        -webkit-box-shadow: 0 10px 5px #888888;
        -moz-box-shadow: 0 10px 5px #888888;
        box-shadow: 0 10px 5px #888888;

        height:100px;
    }

    .textLine {
        display: block;
        width: 100%;
        margin-top: 10%;
    }

            .textLineBox1 {
                display: inline-block;
                padding-top:0;
                width: 40%;
                font-size: 30px;
            }

    .textLineBox2 {
        display: inline-block;
        padding-top: 0;
        margin-left: 10%;
        width: 30%;
        font-size: 12px;
    }

    .textLineBox3 {
        display: inline-block;
        padding-top: 0;
        margin-left: 10%;
        width: 15%;
        font-size: 20px;
        color: red;
    }

    .textLineBox4 {
        display: inline-block;
        padding-top: 0;
        margin-left: 2%;
        width: 10%;
        border-radius: 50%;
        font-size: 20px;
        color: white;
        background-color: red;
        text-align: center;
    }


        .dateLine {
            display: block;
            width: 100%;
        }

            .date1 {
                display: inline-block;
                margin-left: 5%;
                width: 40%;
                font-size: 12px;
            }

            .date2 {
                display: inline-block;
                margin-left: 5%;
                width: 40%;
                font-size: 12px;
            }
       
   .moreTextBox{
        display:block;
        width:100%;
        height:auto;
        font-size:14px;
        color:gray;
    }
</style>*@
